services:
  php:
    build: .
    ports:
      - "8080:80"
    environment:
      DB_HOST: host.docker.internal 
      DB_PORT: 3306
      DB_NAME: test_db
      DB_USER: root
      DB_PASSWORD: root
    extra_hosts:
      - "host.docker.internal:host-gateway"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test_db